{% extends  "index.html.twig" %}
{%  block menu %}   
    {% include 'Parts/menu.html.twig' %}
{% endblock %}

{% block header %}
   
{% endblock %}


{% block body %}
    <div class="row d-flex justify-content-center">
        <div class="col-8 border border-1 p-3">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.brand.name, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.parts.numberText, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.parts.info, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form_row(form.userParts.property, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.userParts.price, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.userParts.amount, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.userParts.priceSale, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
            </div>    
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.userParts.comment, {'attr': {'class': 'form-control-sm'}}) }}
                </div>
            </div>
                
            {#{% if not  form.userParts.vars.value.id %}    #}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.attachePhoto.attacheFile, {'attr': {'class': 'form-control-sm'}}) }}
                    </div>
                </div>
                
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.userParts.public) }}
                </div>
            </div>
            
                
                {{ form_row(form.userParts.id)}}
                {{ form_row(form.parts.id)}}
                {{ form_row(form.brand.id)}}
                
                {{ form_row(form.submit, {'label': 'Сохранить', 'attr': {'class': 'btn-sm btn-outline-primary'}}) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}



{% block javascripts %}
  {{ parent() }}

{% endblock %}