{% extends "index.html.twig" %}


{% block search %}
    
{% endblock %}


{% block body %}
   {#   {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}#}
    
    <div class="row d-flex justify-content-center">
        <div class="col-6 border border-1 p-3">
            {{ form_start(form) }}
                {{ form_row(form.email, { 'label': 'Почта' }) }}
                {{ form_row(form.name, { 'label': 'Имя' }) }}
                {{ form_row(form.passwd.first, {'label': 'Пароль'}) }}
                {{ form_row(form.passwd.second, {'label': 'Пароль еще раз'}) }}
                {{ form_row(form.submit, {'label': 'Зарегистрироваться'}) }}
            {{ form_end(form) }}
        </div>
    </div>
 
{% endblock %}



{% block javascripts %}
      {{ parent() }}

{% endblock %}